.hc-panel {
    display: flex;
    flex-direction: column;

    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.hc-panel__tags {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.hc-panel__tags__tag {
    margin: 0 4px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    background: #ffffff;
    cursor: pointer;
}

.hc-panel__tags__tag--active {
    border-left-width: 4px;
    border-right-width: 4px;
}

.hc-panel__tags__tag--new {
}

.hc-panel__tags__tag--new.hc-panel__tags__tag--active {
    border-color: black;
}

.hc-panel__tags__tag--started {
    border-color: #008b8b66;
    background-color: #008b8b22;
}

.hc-panel__tags__tag--started.hc-panel__tags__tag--active {
    border-color: #008b8b;
}

.hc-panel__tags__tag--up {
    border-color: #00640066;
    background-color: #00640022;
}

.hc-panel__tags__tag--up.hc-panel__tags__tag--active {
    border-color: #006400;
}

.hc-panel__tags__tag--grace {
    border-color: #ff8c0066;
    background-color: #ff8c0022;
}

.hc-panel__tags__tag--grace.hc-panel__tags__tag--active {
    border-color: #ff8c00;
}

.hc-panel__tags__tag--down {
    border-color: #8b000066;
    background-color: #8b000022;
}

.hc-panel__tags__tag--down.hc-panel__tags__tag--active {
    border-color: #8b0000;
}

.hc-panel__tags__tag--paused {
    border-color: #00008b66;
    background-color: #00008b22;
}

.hc-panel__tags__tag--paused.hc-panel__tags__tag--active {
    border-color: #00008b;
}

.hc-panel__nodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.hc-node {
    display: flex;
    flex-direction: row;

    width: 300px;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;

    color: #000;
    background: #FFF;
    border: 2px solid #DDD;
}

.hc-node--hidden {
    display: none;
}

.hc-node--new {
}

.hc-node--started {
    border-color: #008b8b66;
    background-color: #008b8b22;
}

.hc-node--up {
    border-color: #00640066;
    background-color: #00640022;
}

.hc-node--grace {
    border-color: #ff8c0066;
    background-color: #ff8c0022;
}

.hc-node--down {
    border-color: #8b000066;
    background-color: #8b000022;
}

.hc-node--paused {
    border-color: #00008b66;
    background-color: #00008b22;
}

.hc-node__status {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 64px;
    margin-right: 8px;
}

.hc-node__status-icon {
    width: 64px;
    flex: 1;
    text-align: center;
}

.hc-node__status-icon:before {
    font-size: 64px;
    display: inline-block;
}

.hc-node--new .hc-node__status-icon:before {
    content: '◎';
    margin-top: -14px;
    margin-left: -6px;
    color: gray;
}

.hc-node--started .hc-node__status-icon:before {
    content: '⦿';
    margin-top: -14px;
    margin-left: -6px;
    color: darkcyan;
}

.hc-node--up .hc-node__status-icon:before {
    content: '✔︎';
    margin-top: -14px;
    color: darkgreen;
}

.hc-node--grace .hc-node__status-icon:before {
    content: '✔︎';
    color: darkorange;
    margin-top: -14px;
}

.hc-node--down .hc-node__status-icon:before {
    content: '✘';
    color: darkred;
    margin-top: -14px;
}

.hc-node--paused .hc-node__status-icon:before {
    content: '❖';
    color: darkblue;
    margin-top: -14px;
}

.hc-node__status-time {
    font-size: xx-small;
    white-space: nowrap;
    text-align: center;
}

.hc-node__status-duration {
    font-size: x-small;
    white-space: nowrap;
    margin-bottom: 2px;
}

.hc-node__status-duration:before {
    content: '⏱';
    margin-right: 4px;
}

.hc-node__info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hc-node__info-name {
    font-weight: bold;
}

.hc-node__info-desc {
    font-size: x-small;
    flex: 1;
}

.hc-node__info-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hc-node__info-tags__tag {
    margin: 0 2px;
    padding: 2px 6px;
    font-size: smaller;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    background: #ffffff;
}

.hc-node__info-tags__tag:first-child {
    margin-left: 0;
}

.hc-node__info-tags__tag:last-child {
    margin-right: 0;
}

.hc-node--new .hc-node__info-tags__tag {
    border-color: #cccccc;
    background-color: #eeeeee;
}

.hc-node--started .hc-node__info-tags__tag {
    border-color: #008b8b44;
}

.hc-node--up .hc-node__info-tags__tag {
    border-color: #00640044;
}

.hc-node--grace .hc-node__info-tags__tag {
    border-color: #ff8c0044;
}

.hc-node--down .hc-node__info-tags__tag {
    border-color: #8b000044;
}

.hc-node--paused .hc-node__info-tags__tag {
    border-color: #00008b44;
}

[data-hc-template] {
    display: none;
}